#register{
    height: auto;
    border: solid rgba(167, 170, 170, 0.123); ;
    background-color: rgba(199, 202, 202, 0.5);

    width: 80%;
    margin: auto;
    padding-left: 50px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
#register #nom,#pseudo,#password,#confirmation,#email,#identifiant{
    
    width: 50%;
    height: 30px;;
    margin-left:10px ;
    
    display: block;

}
form label{


display: block;

}
.logo a{
   
    color: rgb(230, 223, 223);
   text-decoration: none;

}
.erreur{
    border: solid 1px rgba(255, 2, 2, 0.466);
}
