body{
    margin: 0px;
}

#entete{

    background-color:rgb(0, 0, 0);
    margin-bottom: 15px;;
}
.nav_reseau{
    width: 70%;
    padding-left: 0px;
    margin-left: -15px
    
}
.logo{
    width: 25%;
    color: white;
    text-align: center;
}
.nav_reseau,.logo{
    display:inline-block;
  

}
.nav_reseau li{
    display:inline-block;
    margin-left: 5%;
    color: rgb(136, 132, 132);
    
}
.nav_reseau li a:hover{

    color: rgb(253, 253, 253);
    font-size: larger;
    font-weight: bold;
}
.nav_reseau a,.logo a{
   
    color: rgb(230, 223, 223);
   text-decoration: none;

}
.nav_reseau ul{
   
   
    padding-left: 0px;
}
#page_accueil{
    
 
    border: solid rgba(167, 170, 170, 0.123); ;
    background-color: rgba(199, 202, 202, 0.5);

    width: 80%;
    margin: auto;
    padding: 50px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
#page_accueil h1{
    font-size: 55px;
}
.btn_inscription{
    width: 15%;
    height: 50px;
    background-color: rgb(49, 138, 221);
    border-radius: 6px;
    color: white;
    border: rgb(49, 138, 221);
    font-size: large;
}
.btn_inscription:hover{
    
    background-color: rgb(27, 14, 146);
   
}
.lien{
    text-decoration: none;
    color:  rgb(49, 138, 221);
}
.lien_btn{
    text-decoration: none;
    color: white;
    
}

.danger{
    border:solid 1px;
    background: rgba(255, 55, 55, 0.445);
    color: white;
  width: 80%;
  padding-left: 50px;
  padding-right: 0px;
    
}
.x{
  display: inline-block;
  border: solid;
width: 2%;
font-size: larger;

}
.message{
    width: 90%;
    float: left;
}
.active{
    border: 1px solid rgb(228, 226, 224);
    padding: 3px;
    border-radius: 3px;
}
/* .nav_reseau */

/* nav profile*/


.nav_profile{
    width: 74%;
    margin-right: 0px;
    margin-top: 0px;
    text-align:end ;
    
    text-transform: uppercase;
    padding: 5px 0px;
}
 .logo_profile{
    width: 25%;
    color: rgb(18, 240, 240);
    
   
    padding-left: 5px;
    padding: 4px 5px;
   
    
}
.logo_titre{
    font-size: 30px;
    
    text-align: center;

}
.nav_profile,.logo_profile{
    
    
    display:inline-block;
    vertical-align: top;
    
    font-family: Arial, Helvetica, sans-serif;
    
    height: 90px;
    padding-top: 2%;

}

.nav_profile li a:hover{

    color: rgb(253, 253, 253);
    font-size: larger;
    font-weight: bold;
}
.nav_profile a{
   
   color: rgb(206, 203, 203);
   text-decoration: none;
   text-shadow: 1px 1px rgb(32, 22, 22);

}
.nav_profile ul{
    width: 100%;
}
.nav_profile li{
    display:inline-block;
    margin-left: 2%;
    color: rgb(136, 132, 132);
    
}
