#profile_container{
display:grid;
margin: 15px 30px;
grid-template-columns: 50fr 50fr;
grid-template-rows: 1fr;
grid-template-areas: "profile profile_complet";
height:100vh ;
}
.profile{
    margin: 3px 10px;
    grid-area: profile;
    border-radius: 5px;
    border: 1px solid rgb(165, 162, 162);
    height: 80vh;
   
}
#titre_profile{
    padding-left: 15px;
    height: 60px;
    border: 1px solid rgb(195, 193, 193);
    background-color:rgb(235, 235, 235);
   
}


.div_image{
    
    background-size: cover;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(133, 130, 130, 0.541);
    box-shadow:  6px 4px 2px 1px  rgba(5, 5, 5, 0.212);
   }
#image_profile{
    width: 180px;
    height: 180px;
    border-radius: 200px;
   
   }
   .email a{
       text-decoration: none;
       
   }
.user_profile,.job{
    
    width: 48%;
   display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
  
  
}
.job{
    
}
.description{
    padding: 15px 15px;
    margin-bottom: 20px;
    border: solid 1px rgb(195, 193, 193);
    background-color:rgb(235, 235, 235);
    margin-top: 15px;
}
.amis{
   
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
}



.profile_complet{
 display: grid;
 border-radius: 5px;
 border: 1px solid rgb(165, 162, 162);
 grid-template-columns: 1fr;
grid-template-rows: 0.5fr 3fr 0.1fr;
grid-template-areas: "profile_complet_titre" "profile_complet_input" "profile_complet_biographie";
height: 80vh;
}
.profile_complet_titre{
  padding-left: 15px;
  grid-area: profile_complet_titre;
  border: 1px solid rgb(195, 193, 193);
  background-color:rgb(235, 235, 235);
 
 
  
}
.profile_complet_input{

    padding: 15px;

grid-area: profile_complet_input;

display: grid;

grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-areas: "input1 input2" "input3 input4"  "input5 input6" "input7 none" ;


}
.input1{
    grid-area:input1;
    
}
.input2{
    grid-area:input2;
    
}
.input3{
    grid-area:input3;
    
}
.input4{
    grid-area:input4;
    
}
.input5{
    grid-area:input5;
    
}
.input6{
    grid-area:input6;
    
}
.input7{
    grid-area:input7;
    
}
.etoile{
    color:red;
}
.champ{
    width: 98%;
    margin-right: 5px;
    border-radius: 5px;
    height: 40px;
    
    padding: 3px 10px;
    border: 1px solid rgb(221, 218, 218);
    
}
span{
    font-weight: bold;
    font-size: 18px;
}
#icone{    color:rgb(5, 24, 41);
    
}
.champ:focus{
    box-shadow: 1px 1px 1px 1px rgba(7, 201, 250, 0.657);
    border: 1px solid rgb(221, 218, 218);
    outline: none;
    
}

    


.profile_complet_biographie{
   
grid-area: profile_complet_biographie;

}
#text_erea{
    border: 1px solid rgb(221, 218, 218);
    width: 95%;
    margin-left: 20px;
    border-radius: 6px;

 height: 100px;
    
}
#biographie_titre{
    margin-left: 15px;
}
